user       nobody;  ## Default: nobody
worker_processes  5;  ## Default: 1
worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
  include    mime.types;
  include    /etc/nginx/fastcgi.conf;
  index    index.html index.htm index.php;

  default_type application/octet-stream;
  log_format   main '$remote_addr - $remote_user [$time_local]  $status '
    '"$request" $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';
  sendfile     on;
  tcp_nopush   on;
  server_names_hash_bucket_size 128; # this seems to be required for some vhosts


  upstream compute {
    {% for host in groups['compute'] %}
        server {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8080;
    {% endfor %}
  }

  server { # simple load balancing
    listen          80;

    location / {
      proxy_pass      http://compute;
    }
  }
}

